@mixin flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
@mixin baseSmallContainer {
    width: 100%;
    height: 200px;
}

html,
body {
    @include flexColumn;
    justify-content: start;
    width: 100vw;
    height: 100%;
}

.main {
    @include flexColumn;
    flex-grow: 1;
}

footer {
    display: flex;
    flex-grow: 0;
}


.discrimimant-quest-container,
.piphagor-trio-container,
.common-divisor-container,
.random-game-container {
    @include baseSmallContainer;
}