// Переменные
// $baseInputPadding: 5px 20px 5px 0px;
$mainColorOne: #2d466c;
$mainColorTwo: #0ec217;
$mainTextColor: #fff;
$baseFontFamily: Oswald;
// $baseButtonPadding: 15px 20px;

// Миксины
@mixin flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

@mixin centerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin baseSmallContainer {
    width: 100%;
    height: 200px;

    @media screen and (max-width: 1200px) {
        height: 300px;
    }
}

@font-face {
    font-family: Oswald;
    src: url(../../easy_sqare_calculator/fonts/static/Oswald-Regular.ttf);
}

// страница
html,
body {
    @include flexColumn;
    justify-content: start;
    width: 100vw;
    height: 100%;

    background-color: $mainColorOne;
    color: $mainTextColor;

    font-family: $baseFontFamily;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    @include centerFlex;
    width: 100%;
    height: 100px;

    font-size: 26px;

    background-color: $mainColorTwo;

    @media screen and (max-width: 870px) {
        font-size: 20px;
    }
    @media screen and (max-width: 1200px) {
        font-size: 22px;
    }
}

.main {
    @include flexColumn;
    flex-grow: 1;
    width: 100%;
    margin-top: 20px;
}

footer {
    @include centerFlex;
    flex-grow: 0;
    width: 100%;
    min-height: 100px;

    font-size: 26px;

    background-color: $mainColorTwo;
}

input {
    @include centerFlex;
    width: 200px;
    min-height: 50px;
    margin: 0;
    border: 0;
    border-radius: 20px;
    // padding: $baseInputPadding;

    font-size: 18px;
    font-family: $baseFontFamily;
    text-align: center;

    outline: none;

    &:focus {
        transition: 0.5s;
        box-shadow: 0px 5px 1px 0px grey;
    }
}

button {
    @include centerFlex;
    width: 200px;
    min-height: 50px;
    margin: 0;
    border: 0;
    border-radius: 20px;
    // padding: $baseButtonPadding;

    font-size: 18px;
    font-family: $baseFontFamily;

    background-color: $mainColorTwo;
    color: $mainTextColor;

    cursor: pointer;
    user-select: none;
    outline: none;

}

.discrimimant-quest-container,
.piphagor-trio-container,
.common-divisor-container,
.random-game-container {
    @include baseSmallContainer;
    @include centerFlex;
    gap: 0px 10px;

    @media screen and (max-width: 870px){
        @include flexColumn;
        gap: 10px 0px;
        margin-top: 100px;
    }

    @media screen and (max-width: 1200px){
        @include flexColumn;
        gap: 10px 0px;
        margin-top: 100px;
    }
}

